# Day4

## 01 | 일차원 리스트

In [ ]:
01) 리스트 정의
- 순서가 있는 수정 가능한 객체의 집합
- 자료구조에서 배우게 될 스택(stack) 그리고 큐(queue)를 이해하는데 도움이 되는 기초 자료구조

In [ ]:
02) 리스트의 특징
- 추가, 수정, 삭제가 언제나 가능

In [ ]:
03) 리스트 생성
- 리스트이름 = [요소1, 요소2, 요소3,,,]
- 리스트이름 = list()  -> 빈 리스트 생성
- 리스트이름 = []  -> 빈 리스트 생성

In [2]:
# 빈 리스트 생성
# 방법1
a = list()
print(a)
print(type(a))

[]
<class 'list'>

In [4]:
# 방법2
b = []
print(b)
print(type(b))

[]
<class 'list'>

In [5]:
a = [1]
print(a)

[1]

In [6]:
# 숫자만으로 리스트 생성
a = [10, 20, 30]
print(a)
print(type(a))

[10, 20, 30]
<class 'list'>

In [7]:
# 문자와 숫자를 같이 넣을 수도 있음
a = ['가', 10, '20']
print(a)

['가', 10, '20']

In [ ]:
04) 리스트 다루기

In [ ]:
1. 인덱싱
- 무언가를 가리킨다
- 리스트 안의 특정 위치(번호)에 있는 값을 꺼내기

In [8]:
# 리스트에 접근하여 출력
a = ['가', 10, '20']
# 인덱싱 0, 1, 2
#      -3,  -2, -1
print(a[0])
print(a[1])
print(a[2])

가
10
20

In [9]:
print(a[-3])
print(a[-1])

가
20

In [ ]:
2. 슬라이싱
- 무언가를 자르다
- 리스트의 일부 구간을 잘라내어 새로운 리스트를 만드는 것

In [ ]:
[시작:끝:간격] -> [start: stop: step]
[이상: 미만]
- start: 시작인덱스, 생략하면 처음부터 추출
- stop: 종료 인덱스, 생략하면 끝까지 추출, 지정인덱스 직전까지 출력
- step: 인덱스의 증감값, 생략하면 1씩 변화

In [12]:
# 슬라이싱
a = [1, 2, 3, 4, 5, 6]
print(a)
print(a[:])
print(a[0:2]) # 2번 인덱스 직전까지 출력
print(a[1:3])
print(a[1::2])

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2]
[2, 3]
[2, 4, 6]

In [ ]:
3. 리스트의 누적합

In [13]:
arr = [2, 4, 6, 8, 10]
sum = 0
for i in arr:
    sum += i
print(sum)

30

## 02 | 리스트의 
- append(): 해당 리스트의 맨 뒤에 괄호 안의 값을 삽입 -> 선택한 리스트 맨 뒤
- insert(): 원하는 위치에 값을 삽입
- extend(): 리스트를 합침, 확장

### 01) append() | 리스트 추가 및 확장

In [ ]:
[작성법]
변수명.append(값)

In [14]:
# 요소 하나 추가하기
a = [10, 20, 30]
a.append(40)
print(a)

[10, 20, 30, 40]

In [19]:
# range함수를 사용하여 리스트 생성

arr = []  # 빈 리스트 생성
for i in range(2, 11, 2):  # 2-10까지 짝수만 리스트에 삽입
    arr.append(i)
print(arr)

[2, 4, 6, 8, 10]

### 02) insert() | 원하는 위치에 값 추가

In [ ]:
[작성법]
리스트명.insert(인덱스번호, 값)

In [20]:
a = [1, 2, 3]
a.insert(1, 100)  # 1번 인덱스에 100을 추가
a.insert(3, 300)  # 3번 인덱스에 200을 추가
print(a)

[1, 100, 2, 300, 3]

### 03) extend() | 리스트 확장

In [ ]:
[작성법]
리스트명.extend(추가할 리스트의 변수명)

In [21]:
a = [10, 20, 30]
b = [40, 50, 60]
a.extend(b)
print(a)

[10, 20, 30, 40, 50, 60]

In [ ]:
** append()와 extned()의 차이점
- append: 첨부하다
- extend: 연장하다, 확장하다

In [23]:
a = [10, 20, 30]
b = [50, 60, 70]
a.append(b)  # 리스트b가 하나의 요소로 리스트a에 삽입
print(a)

[10, 20, 30, [50, 60, 70]]

#### 연습 01 | 제일 앞 인덱스에 10을 추가

In [27]:
a = [20, 30, 40]
a.insert(0, 10)
print(a)

[10, 20, 30, 40]

#### 연습 02 | 3번째 인덱스에 25 추가

In [32]:
a = [20, 30, 40]
a.insert(0, 10)
a.insert(2, 25)
print(a)

[10, 20, 25, 30, 40]

## 03 | 리스트의 수정
- 리스트 안에 들어 있는 값을 직접 바꾸는 것
- 방법: 인덱스 번호를 이용해 원하는 위치의 값을 새로운 값으로 지정
- 리스트는 수정 가능한 자료형이기 때문에 값 변경이 자유로움

In [34]:
a = [1, 2, 3]
a[1] = 4
print(a)  # 리스트 원본이 변경됨

[1, 4, 3]

In [35]:
# 문자열
fruits = ['apple', 'banana', 'cherry']
fruits[2] = 'grape'
print(fruits)

['apple', 'banana', 'grape']

## 04 | 리스트 삭제

In [ ]:
- pop(): 리스트 요소 삭제
- remove(): 어느 특정 값을 지정하고 삭제
- del 리스트명[인덱스]: 원하는 인덱스에 들어있는 값을 삭제
- clear(): 리스트 요소 전체 삭제

### 01) pop() | 인덱스를 통해 제거

In [ ]:
[작성법]
리스트명.pop() -> 가장 마지막에 있는 요소 제거
리스트명.pop(인덱스번호) -> 인덱스번호에 있는 값을 제거

In [36]:
a = [10, 20, 30, 40]
a.pop(1)
print(a)

[10, 30, 40]

In [44]:
# 제거된 요소를 확인
num = [10, 20, 30, 40]
# num.pop()
# print(num)
# print('제거된 요소: ', num2)
print('제거된 요소: ', num.pop())
print(num)

제거된 요소:  40
[10, 20, 30]

### 02) remove() | 요소 자체를 찾아서 제거

In [ ]:
[작성법]
리스트명.remove(값)

In [45]:
a = [10, 20, 30, 40]
a.remove(30)

print(a)

[10, 20, 40]

### 03) dle | 원하는 인덱스에 들어 있는 값 삭제
- 변수 자체를 삭제하거나, 객체의 인덱스/ 슬라이스를 삭제

In [ ]:
[작성법]
del 리스트명[인덱스]

In [46]:
b = [10, 11, 12, 13]
print(b)
del b[2]
print(b)

[10, 11, 12, 13]
[10, 11, 13]

### 04) clear() | 리스트 요소 모두 없애기

In [ ]:
[작성법]
리스트명.clear()

In [47]:
c = [90, 80, 70]
print(c)
c.clear()
print(c)

[90, 80, 70]
[]

## 05 | 리스트의 검색
- index() : 값이 들어 있는 인덱스의 위치를 반환
- count() : 해당 값이 얼마나 들어 있는지 세어줌
- len() : 해당 리스트의 길이를 반환(length)
- in, not in : 반복문 for에서 쓰는 in과 같음, 반복문 등을 통해 리스트 값이 있는지 확인

### 01) index() | 인덱스 검색

In [ ]:
[작성법]
검색할변수명.index(값)
검색할변수명.index(값, 찾을위치)

In [51]:
a = [20, 30, 40, 20, 40]
b = a.index(40)  # 가장 먼저 발견된 값의 인덱스를 반환
print(b)

2

In [52]:
print(a.index(40, 3))  # 3번 인덱스 이후에 있는 값의 인덱스 반환

4

In [ ]:
** 없는 요소를 검색하면 ERROR 발생

### 02) count() | 요소 개수 세기

In [ ]:
[작성법]
변수명.count(찾을내용)

In [53]:
# 리스트 안에 10이 몇 개 있는지 세기
a = [10, 10, 10, 20, 30, 40, 10]
print(a.count(10))

4

### 03) len() | 요소의 길이 구하기

In [ ]:
[작성법]
len(변수명)

In [57]:
a = [20, 30, 40, 50, 60]
print('리스트 a:', a)
print('리스트 a의 길이 반환:', len(a))

리스트 a: [20, 30, 40, 50, 60]
리스트 a의 길이 반환: 5

In [58]:
for i in range(len(a)):
    print(i)

0
1
2
3
4

### 04) in, not in | 특정 값이 존재하는지를 확인
- 파이썬의 연산자(operator)
- in -> 존재하는지 확인
- not in -> 존재하지 않는지(없는지)를 확인할 때 사용

In [60]:
fruits = ['apple', 'banana', 'cherry']
# banana가 리스트에 있는지 확인
if 'banana' in fruits:
    print("banana'는 리스트에 존재합니다.")

banana'는 리스트에 존재합니다.

In [62]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits: 
    print(fruit)

apple
banana
cherry

In [64]:
fruits = ['apple', 'banana', 'cherry']
# 'apple'이 리스트에 없는지 확인 -> 없어?
if 'apple' not in fruits:  # 없어? 없지? 라고 물어보는 것! 그런데 있어서 결과는 False
    print("없다")
else:
    print("있다")

있다

## 06 | 리스트 다루기 기타
### 01) 정렬

In [ ]:
- sort() : 리스트에 있는 값을 작은 값부터 차례대로(오름차순) 정렬
- sort(reverse = True) : 리스트에 있는 값을 차례대로(내림차순) 정랼
- reverse() : 뒤집기
- sorted() : 리스트를 복사해서 정렬하여 원본 손상이 되지 않게 새로 정렬 가능

문자열 sort 순서: 대문자 -> 소문자 -> 한글

### 01) sort() | 오름차순 정렬

In [ ]:
[작성법]
리스트명.sort()

In [67]:
# sort()는 원본 자체를 수정함!

a = [10, 30, 25, 15, 40]
print(a)
a.sort()  # 원본 자체를 변경하기 때문에 변수에 할당한다고 해도 아무것도 반환하지 않음
print(a)

[10, 30, 25, 15, 40]
[10, 15, 25, 30, 40]

In [68]:
# 문자의 경우
# 대문자 -> 소문자 -> 한글 순
fruits = ['Apple', 'Banana', 'kiwi', '포도', 'banana', 'pear']
fruits.sort()
print(fruits)

['Apple', 'Banana', 'banana', 'kiwi', 'pear', '포도']

### 02) sort(reverse = True) | 내림차순

In [ ]:
[작성법]
변수명.sort(reverse = True)

In [1]:
a = [10, 30, 25, 15, 40]
a.sort(reverse = True)
print(a)

[40, 30, 25, 15, 10]

### 03) reverse() | 반대로 뒤집기

In [ ]:
[작성법]
변수명.reverse()

In [70]:
a = [10, 30, 25, 16, 40]
a.reverse()
print(a)

[40, 16, 25, 30, 10]

### 04) sorted() | 오름차순 정렬, 원본 유지

In [ ]:
[작성법]
변수명 = sorted(정렬할 리스트명)

In [71]:
num = [3, 5, 2, 1, 4]
sorted_num = sorted(num)
print('원본:', num)
print('오름차순정렬:', sorted_num)

원본: [3, 5, 2, 1, 4]
오름차순정렬: [1, 2, 3, 4, 5]

### 추가시 유의사항!

In [72]:
b = [10, 20, 30, 40]
b[0] = 50
print(b)

[50, 20, 30, 40]

In [75]:
# 아직 존재하지 않은 인덱스에 추가하는 것은 error가 발생 -> insert나 append 사용
b = [10, 20, 30, 40]
b[4] = 70
print(b)  # 인덱스 범위를 벗어난 위치에 추가하려 함

IndexError: list assignment index out of range

### 리스트 복제시 문제점

In [ ]:
- 리스트를 그냥 = (할당연산자)로 복사하면 새로 만드는 게 아니라 같은 리스트를 함께 가리키게 됨
  -> 그래서 한 쪽을 고치면, 다른 쪽도 같이 바뀜

In [76]:
origin = ['A', 'B', 'C']
copied = origin
print(origin)
print(copied)

['A', 'B', 'C']
['A', 'B', 'C']

In [77]:
copied[2] = 'D'
print(origin)
print(copied)

['A', 'B', 'D']
['A', 'B', 'D']

In [80]:
# 해결방법1 : [:]슬라이싱 사용
origin = [1, 2, 3]
copied = origin[:]  # origin을 처음부터 끝까지 '복제'
copied[0] = 99
print(origin)
print(copied)

[1, 2, 3]
[99, 2, 3]

In [81]:
# 해결방법2 : list()함수 사용
origin = [1, 2, 3]
copied = list(origin)
copied[0] = 99
print(origin)
print(copied)

[1, 2, 3]
[99, 2, 3]

In [85]:
# 해결방법3 : copy()메서드를 사용해서 리스트 복제
# 이렇게 하면 원본과 복사본이 서로 다른 리스트가 되어, 한 쪽을 수정해도 다른 쪽은 그대로 유지 가능

origin = [1, 2, 3]
copied = origin.copy()
copied[0] = 99
print(origin)
print(copied)

[1, 2, 3]
[99, 2, 3]

### 언패킹
- 리스트나 튜플()같은 묶음 자료형의 값을 여러 변수에 나눠 담는 것

In [ ]:
1. 언패킹 방법
- 리스트나 튜플 안 요소 개수와 변수 개수가 정확히 일치해야 함
- 각 요소가 순서대로 변수에 자동 저장됨

In [86]:
brr = ['a', 'b', 'c']
a, b, c = brr
print(a)
print(b)
print(c)

a
b
c

## 07 | 다차원 리스트

- 리스트 안의 리스트를 나타냄
### 01) 이차원 리스트
- 이차원 리스트의 특정 요소에 접근할 때는 [행][열] 방식으로 접근

In [4]:
arr = [[10, 20], [30, 40], [50, 60]]
print(arr)
print(len(arr))

[[10, 20], [30, 40], [50, 60]]
3

In [5]:
print(arr[0])

[10, 20]

In [8]:
print(arr[0][0]) # 0행의 0열

10

In [11]:
print(arr[-1][-1])
print(arr[2][1])

60
60

### 이차원 리스트 요소 언패킹
- arr의 각 요소는 리스트이므로, x와 y로 언패킹 가능

In [13]:
arr = [[10, 20], [30, 40], [50, 60]]
for x, y in arr:
    print('x: ', x)
    print('y: ', y)

x:  10
y:  20
x:  30
y:  40
x:  50
y:  60

In [14]:
arr = [[10, 20], [30, 40], [50, 60]]
# x와 y값들을 각각 리스트로 분리
x_values = [x for x, y in arr] # x값만 리스트에 추가
y_values = [y for x, y in arr] # y값만 리스트에 추가
print('x_values: ', x_values)
print('y_values: ', y_values)

x_values:  [10, 30, 50]
y_values:  [20, 40, 60]

### 02) 삼차원 리스트
- 3차원 리스트는 리스트 안에 이차원 리스트들이 들어 있는 구조
- 3차원 리스트의 특정 요소에 접근할 때는 [면][행][열] 방식으로 접근

In [ ]:
- 3개의 2차원 리스트를 포함하고 있으며, 
각 2차원 리스트는 다시 2개의 1차원 리스트를 포함

In [ ]:
three_d_list[0]은 첫 번째 2차원 리스트 [[[1, 2, 3], [4, 5, 6]], # 0면
three_d_list[1]은 두 번째 2차원 리스트 [[7, 8, 9], [10, 11, 12]], # 1면
three_d_list[2]는 세 번째 2차원 리스트 [[13, 14, 15], [16, 17, 18]]] # 2면

In [ ]:
내부 요소에 접근하려면 세 개의 인덱스를 사용
three_d_list[0][0][0]은 1
three_d_list[0][1][2]은 6
three_d_list[2][1][1]은 17

In [16]:
three_d_list = [[[1, 2, 3], [4, 5, 6]],
                [[7, 8, 9], [10, 11, 12]],
                [[13, 14, 15], [16, 17, 18]]]
print(three_d_list[0][0][0])
print(three_d_list[0][1][2])
print(three_d_list[2][1][1])

1
6
17

#### 연습문제 01 |
- 0부터 9까지의 숫자를 반복문을 사용하여 생성하고 리스트 형태로 출력

In [45]:
list1 = []
for i in range(10): # 10 직전까지 -> 0부터 9까지
    list1.append(i) # 리스트에 추가!
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
# 작성법 -> [표현식 (or 요소) for 임시변수 in 반복하는 객체]
a = [i for i in range (10)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 연습문제 02 | 
- 1부터 10까지의 숫자의 제곱수 리스트로 생성하고 출력

In [ ]:
[출력결과]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [54]:
list2 = []
for i in range(1, 11):
    list2.append(i**2)
    i += 1
print(list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [53]:
list2 = [i**2 for i in range(1, 11)]
print(list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### 연습문제 03 | 
- 리스트에서 양수만 뽑기

In [ ]:
- 리스트에 들어 있는 값은 아래와 같다
  numbers = [-10, -5, 0, 5, 10]

In [ ]:
[출력결과]
[5, 10]

In [55]:
numbers = [-10, -5, 0, 5, 10]
num = []
# for i in numbers:
for i in range(len(numbers)):
    # if i > 0:
    if numbers[i] > 0:
        # num.append(i)
        num.append(numbers[i])
print(num)

[5, 10]

#### 연습문제 04 | 
- 1부터 10까지의 숫자 중 홀수의 세제곱을 리스트로 생성하고 출력

In [ ]:
[출력결과]
[1, 27, 125, 343, 729]

In [22]:
num = []
for i in range(1, 10):
    if i % 2 != 0:
        num.append(i**3)
    i += 1
print(num)

[1, 27, 125, 343, 729]

#### 과제 01 | 임의의 정수 5개를 입력받아 오름차순으로 정렬하시오

In [ ]:
[출력결과]
임의의 정수 5개를 입력하세요:
1번째 정수: 5
2번째 정수: 4
3번째 정수: 3
4번째 정수: 2
5번째 정수: 1
입력한 정수 5개를 오름차순으로 정렬한 결과:
[1, 2, 3, 4, 5]

In [40]:
num = []
print('임의의 정수 5개를 입력하세요: ')
a = int(input('1번째 정수: '))
b = int(input('2번째 정수: '))
c = int(input('3번째 정수: '))
d = int(input('4번째 정수: '))
e = int(input('5번째 정수: '))
num.append(a)
num.append(b)
num.append(c)
num.append(d)
num.append(e)
num.sort()
print('임의의 정수 5개를 오름차순으로 정렬한 결과: ')
print(num)

임의의 정수 5개를 입력하세요:

1번째 정수:  5
2번째 정수:  4
3번째 정수:  3
4번째 정수:  2
5번째 정수:  1

임의의 정수 5개를 오름차순으로 정렬한 결과:
[1, 2, 3, 4, 5]

In [2]:
# 빈 리스트 생성
num = []
print('임의의 정수 5개를 입력하세요: ')
for i in range(5):
    num2 = int(input(f"{i + 1}번째 정수: "))
    num.append(num2)
# 오름차순 정렬
num.sort()
print(num)

임의의 정수 5개를 입력하세요:

1번째 정수:  5
2번째 정수:  4
3번째 정수:  3
4번째 정수:  2
5번째 정수:  1

[1, 2, 3, 4, 5]

#### 과제 02 | 리스트에서 문자열의 길이가 5 이상인 단어만 뽑아 새로운 리스트 만들기

In [ ]:
words = ['apple', 'dog', 'banana', 'cat', 'orange', 'egg']

[출력결과]
['apple', 'banana', 'orange']

In [3]:
words = ['apple', 'dog', 'banana', 'cat', 'orange', 'egg']
long_words = []
for i in range(len(words)):
    if len(words[i]) >= 5:
        long_words.append(words[i])
print(long_words)

['apple', 'banana', 'orange']