# Day5

## 컬렉션2(Collection) | 튜플, 딕셔너리, 집합

In [ ]:
- 리스트 []
- 튜플 ()
- 딕셔너리 {}
- 집합{}

## 01 | 튜플
- 리스트와 거의 유사한 자료형
- 리스트처럼 인덱싱, 슬라이싱 가능
- 튜플은 ()를 사용하여 생성
- 튜플은 리스트보다 생성 속도가 빠르고 메모리를 적게 사용

### 01) 리스트와 튜플의 차이점
- 튜플은 한 번 만들면 변경할 수 없음(불변, immutable)
- 리스트는 값을 바꾸거나 추가, 삭제 할 수 있음(가변, mutable)

튜플 -> 아이템 추가, 삭제, 수정 불가능!!

### 02) 튜플에서 사용할 수 있는 기능:
- 검색: index(), count(), len()
- 포함 여부 확인: in noy in:
- 정렬: sorted()
- 삭제: del
- 사본 생성: 리스트와 마찬가지로 튜플도 새로운 변수에 할당하여 사용할 수 있음

### 03) 튜플에서 사용할 수 있는 기능
- 삽입: append(), insert(), extend()
- 수정: 직접 수정 불가
- 삭제: pop(), remove(), clear(), del 변수명[인덱스]
- 정렬: sort(), reserve()

### 04) 튜플은 언제 사용?
- 데이터의 개수와 내용이 고정되어 있는 경우
- 값이 변하면 안되는 경우(ex. 좌표, 학번, 요일 등)

### 05) 튜플 생성하기

In [ ]:
1. 원소가 없는 튜플 만들기

In [1]:
t = ()
print(t)

()

In [2]:
t = tuple()
print(t)
print(type(t))

()
<class 'tuple'>

In [ ]:
2. 여러 개의 원소를 나열할 때
- 괄호를 써도 되고 안 써도 생성 가능

In [3]:
# 괄호 사용
t = ('a', 'B', 'C')
print(t)
print(type(t))

('a', 'B', 'C')
<class 'tuple'>

In [4]:
# 괄호 사용 x
tu = 'a', 'b', 'c'
print(tu)
print(type(tu))

('a', 'b', 'c')
<class 'tuple'>

In [ ]:
3. 원소를 하나만 가진 튜플
- 원소 뒤에 콤마(,)를 꼭 찍어야 함

In [5]:
one = (5,)
print(one)
print(type(one))

(5,)
<class 'tuple'>

In [6]:
# 콤마를 쓰지 않으면 튜플이 아닌 정수로 인식
a = (5)
print(a)
print(type(a))

5
<class 'int'>

### 06) 튜플의 슬라이싱
슬라이싱
- [시작: 끝: 간격] -> [start: stop: step]
- [이상: 미만]
- start: 시작 인덱스; 생략하면 처음부터 추출
- stop: 종료 인덱스; 생략하면 끝까지 추출
- step: 인덱스의 증감값; 생략하면 1씩 변화

In [9]:
p = (1, 2, 3, 4, 5, 6, 7)
print(p[1:4])

(2, 3, 4)

In [10]:
p = (1, 2, 3, 4, 5, 6, 7)
print(p[:2])

(1, 2)

In [12]:
p = (1, 2, 3, 4, 5, 6, 7)
print(p[1::2])

(2, 4, 6)

In [ ]:
** step이 음수인 경우
- step 방향에 따라 해석이 달라짐
- step이 양수 -> start를 생략할 경우 0부터 시작, stop을 생략할 경우 끝까지
- step이 음수 -> start를 생략할 경우 마지막부터, stop을 생략할 경우 0번 인덱스까지

In [13]:
p = (1, 2, 3, 4, 5, 6, 7)
print(p[::-1])

(7, 6, 5, 4, 3, 2, 1)

In [16]:
# start = 4 -> 인덱스 4에서 시작
# stop = 처음(인덱스 0)까지
# step = -1 -> 뒤로(거꾸로) 한 칸씩 이동
p = (1, 2, 3, 4, 5, 6, 7)
print(p[4::-1])

(5, 4, 3, 2, 1)

### 07) 튜플을 리스트로, 리스트를 튜플로 변경

In [ ]:
1. 튜플 -> 리스트

In [17]:
p = (1, 2, 3)
q = list(p)
print(q)

[1, 2, 3]

In [19]:
print(p)
print(type(p))
# 원본의 속성은 변형되지 않는다

(1, 2, 3)
<class 'tuple'>

In [ ]:
2. 리스트 -> 튜플

In [20]:
l = [1, 2, 3]
r = tuple(l)
print(r)

(1, 2, 3)

In [21]:
# 원본의 속성은 변형되지 않는다
print(l)
print(type(l))

[1, 2, 3]
<class 'list'>

### 08) 튜플의 수정 방법

In [ ]:
1. 튜플 연결
- 두 개 이상의 튜플을 연결하여 새로운 튜플을 생성

In [23]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
com = tuple1 + tuple2
print(com)

(1, 2, 3, 4, 5, 6)

In [ ]:
2. 튜플 반복
- 튜플을 곱하기(*) 연산하여 새로운 튜플을 생성

In [25]:
tuple3 = (7, 8, 9)
re_tuple = (tuple3 * 3)
print(re_tuple)

(7, 8, 9, 7, 8, 9, 7, 8, 9)

In [ ]:
3. 오려 붙이기
- 튜플은 리스트와 달리 원소값을 직접 바꿀 수 없기 때문에, 문자열에서 슬라이싱 했던 것처럼 오려 붙이는 방법을 사용하여 수정!

In [28]:
p = (1, 2, 3, 4, 5)
q = p[:1] + (6, 7) + p[3:] # 0번 + 6, 7 + 3번 인덱스부터 끝까지
print(q)
print(p) # 원본은 유지됨

(1, 6, 7, 4, 5)
(1, 2, 3, 4, 5)

### 09) 튜플 정렬

In [ ]:
1. 오름차순 정렬

In [30]:
numbers = (5, 2, 9, 1, 5, 6)
# 정렬된 새로운 리스트 정렬
sorted_numbers = sorted(numbers) # 정렬하면 리스트로 반환됨
print("원본 튜플:", numbers)
print("정렬된 리스트:", sorted_numbers)

원본 튜플: (5, 2, 9, 1, 5, 6)
정렬된 리스트: [1, 2, 5, 5, 6, 9]

In [31]:
numbers = (5, 2, 9, 1, 5, 6)
# 정렬된 리스트 반환 후 튜플로 반환
sorted_numbers = tuple(sorted(numbers))# 정렬된 리스트를 튜플로 변환
print("원본 튜플:", numbers)
print("정렬된 튜플:", sorted_numbers)

원본 튜플: (5, 2, 9, 1, 5, 6)
정렬된 튜플: (1, 2, 5, 5, 6, 9)

In [ ]:
2. 내림차순 정렬

In [33]:
numbers = (5, 2, 9, 1, 5, 6)
# 정렬된 리스트 반환 (내림차순)
sorted_numbers = sorted(numbers, reverse = True)
print("원본 튜플:", numbers)
print("내림차순 정렬된 리스트:", sorted_numbers)

원본 튜플: (5, 2, 9, 1, 5, 6)
내림차순 정렬된 리스트: [9, 6, 5, 5, 2, 1]

In [35]:
numbers = (5, 2, 9, 1, 5, 6)
# 정렬된 리스트 반환 (내림차순) 한 것을 튜플로 변환
sorted_numbers = tuple(sorted(numbers, reverse = True))
print("원본 튜플:", numbers)
print("내림차순 정렬된 튜플:", sorted_numbers)

원본 튜플: (5, 2, 9, 1, 5, 6)
내림차순 정렬된 튜플: (9, 6, 5, 5, 2, 1)

### 10) 튜플 검색하기
- index()
- count()
- len()

In [ ]:
index() | 지정한 값이 몇 번째 인덱스에 속하는 지를 알려주는 메서드

In [38]:
my_tuple = (10, 20, 30, 20, 40)
# 값이 처음 나타나는 위치의 인덱스 반환
a = my_tuple.index(20)
b = my_tuple.index(20, 2) # 2번 인덱스부터 시작해서 처음 나타나는 인덱스 번호
print('20의 인덱스:', a)
print('20의 인덱스:', b)

20의 인덱스: 1
20의 인덱스: 3

In [ ]:
count() | 개수를 세는 메서드

In [39]:
my_tuple = (10, 20, 30, 40, 20, 20)
# 20의 개수 세기
a = my_tuple.count(20)
print('20의 개수:', a)

20의 개수: 3

In [40]:
print(my_tuple.count(20))

3

In [ ]:
len() | 원소가 몇 개 들어 있는지

In [42]:
my_tuple = (10, 20, 30, 40)
new = len(my_tuple)
print('튜플의 길이:', new)

튜플의 길이: 4

### 11) 튜플의 활용

In [ ]:
1. for문과 함께 사용

In [43]:
a = (10, 20, 30)
for i in a:
    print(i)

10
20
30

In [ ]:
2. 언패킹과 함께 사용
- 튜플 안에 여러 값이 묶여 있는 경우 for문과 언패킹을 같이 사용 가능

In [44]:
arr = [(1, 2), (3, 4), (5, 6)]
for x, y in arr:
    print(x, y)

1 2
3 4
5 6

In [ ]:
3. enumerate와 함께 사용
- enumerate: 튜플의 인덱스와 값을 동시에 가져올 수 있도록 해주는 함수

In [ ]:
t = ('a', 'b', 'c')
for idx, val in enumerate(t): # t의 인덱스와 요소를 꺼냄
    print(idx, val)

In [49]:
t = ('a', 'b', 'c')
for idx, val in enumerate(t, start = 1): # index 시작 값 입력 
    print(idx, val)

1 a
2 b
3 c

#### 연습문제 01 | 처음부터 인덱스 6번까지 요소 출력

In [ ]:
numbers = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [50]:
numbers = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
print(numbers[:7])

(10, 20, 30, 40, 50, 60, 70)

#### 연습문제 02 | 첫 번째 리스트에서 두 번째 요소를 20으로 변경

In [ ]:
- my_tuple = ([1, 2, 3], [4, 5, 6])

In [60]:
# 튜플 자체의 구조는 변경되지 않음
# 튜플 안의 가변요소는 변경 가능 -> list
my_tuple = ([1, 2, 3], [4, 5, 6])
my_tuple[0][1] = 20
print(my_tuple)
print(type(my_tuple))
print(type(my_tuple[0]))

([1, 20, 3], [4, 5, 6])
<class 'tuple'>
<class 'list'>

#### 연습문제 03 | 두 개의 튜플을 연결

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
-> (1, 2, 3, 4, 5, 6)

In [61]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
com = tuple1 + tuple2
print(com)

(1, 2, 3, 4, 5, 6)

#### 연습문제 04 | tuple 안에 2가 몇 개 있는지 세어보기

In [ ]:
- mixed_tuple = (1, 2, 3, 2, 4, 2, 5)

In [62]:
mixed_tuple = (1, 2, 3, 2, 4, 2, 5)
print(mixed_tuple.count(2))

3

## 02 | 딕셔너리
- 딕셔너리 자료형은 키(key)와 값(value)의 쌍
- 리스트나 튜플처럼 순차적으로 해당 요솟값을 구하지 않고 key를 통해 value를 얻음
- 생성 이후에 필요에 따라 값을 추가/수정/삭제 가능

### 01) 딕셔너리 생성
- 딕셔너리 생성: {}를 사용하여 생성
- 쉼표로 항목들을 구분

In [ ]:
[작성법]
{key: value, key2: value2, key3: value3, ....}

In [ ]:
1. 빈 딕셔너리 생성

In [1]:
dict1 = {}
print(dict1)
print(type(dict1))

{}
<class 'dict'>

In [2]:
dict2 = dict()
print(dict2)
print(type(dict2))

{}
<class 'dict'>

In [ ]:
2. 값이 들어 있는 딕셔너리 생성
- key로 정숫값1, value로 문자열 'hi'를 사용해보기

In [3]:
a = {1: 'hi'}
print(a)

{1: 'hi'}

In [ ]:
- value에 list도 삽입 가능함

In [4]:
a = {'a': [1, 2, 3]}
print(a)

{'a': [1, 2, 3]}

### 03) 딕셔너리의 접근
- 딕셔너리의 값에 접근하려면 key를 사용

In [6]:
my_dict = {
    'name': 'Alice', 
    'age': 25, 
    'city': 'New York'
}
print(my_dict['name']) # 키 값을 사용해서 value값 출력
print(my_dict['age'])

Alice
25

### 04) 딕셔너리 쌍 수정 및 추가하기

In [ ]:
1. 키와 값 추가

In [11]:
a = {1: 'a'}
# 딕셔너리 키 - 값 추가
a[2] = 'b' # 딕셔너리이름[키] = 값
print(a)

{1: 'a', 2: 'b'}

In [12]:
a = {1: 'a'}
# 딕셔너리 키 - 값 추가
a[2] = 'b'
a[3] = [1, 2, 3]
print(a)

{1: 'a', 2: 'b', 3: [1, 2, 3]}

2. 값 수정하기

In [13]:
a = {1: 'a', 2: 'b', 3: [1, 2, 3]}
a[3] = [4, 5, 6]
print(a)

{1: 'a', 2: 'b', 3: [4, 5, 6]}

In [ ]:
3. 수정 및 추가에 사용 가능한 메서드
- update()
- 키 값이 같으면 수정, 새로운 키라면 추가

In [ ]:
[작성법]
기존 딕셔너리 명.update(추가할 딕셔너리 명)

In [14]:
# 기존 딕셔너리
a = {'a': 1, 'b': 2}
# 추가할 딕셔너리
b = {'b': 3, 'c': 4}
a.update(b)
print(a)

{'a': 1, 'b': 3, 'c': 4}

### 05) 딕셔너리 삭제
- del | 요소 삭제, 딕셔너리 삭제
- clear() | 전체 요소 삭제
- pop() | 요소 삭제

In [ ]:
del | 요소 삭제, 딕셔너리 삭제
[작성법}
del 딕셔너리 이름[키값] -> 요소 삭제
del 딕셔너리 이름 -> 딕셔너리 삭제

In [16]:
# 요소 삭제
a = {1: 'a', 2: 'b', 'name': 'Alice', 3: [1, 2, 3]}
del a[1]
print(a)

{2: 'b', 'name': 'Alice', 3: [1, 2, 3]}

#### 연습 | 키가 'city', 값이 'New York'인 요소를 삭제

In [18]:
# 딕셔너리 생성
my_dict = {
    'name': 'Alice',
    'age': 25, 
    'city': 'New York'
}
del my_dict['city']
print(my_dict)

{'name': 'Alice', 'age': 25}

In [21]:
# 딕셔너리 삭제
my_dict = {
    'name': 'Alice',
    'age': 25, 
    'city': 'New York'
}
print("삭제 전:", my_dict)
del my_dict
# 딕셔너리 출력(삭제 후) - 오루 발생
print("삭제 후:", my_dict)

삭제 전: {'name': 'Alice', 'age': 25, 'city': 'New York'}

NameError: name 'my_dict' is not defined

In [ ]:
clear() | 요소 삭제
[작성법]
삭제할 딕셔너리 명.clear()

In [22]:
my_dict = {
    'name': 'Alice',
    'age': 25, 
    'city': 'New York'
}
# 딕셔너리 삭제 전
print("삭제 전:", my_dict)
# 딕셔너리의 모든 항목 삭제
my_dict.clear()
# 딕셔너리 삭제 후 출력
print("삭제 후:", my_dict)

삭제 전: {'name': 'Alice', 'age': 25, 'city': 'New York'}
삭제 후: {}

In [ ]:
pop() | 데이터 꺼내기
[작성법]
딕셔너리변수명.pop(key)

In [24]:
nations = {'korea': '한국', 'japan': '일본', 'china': '중국'}
removed = nations.pop('china')
print(removed)
print(nations)

중국
{'korea': '한국', 'japan': '일본'}

### 06) 딕셔너리 다루기 기타

In [ ]:
- keys(): 딕셔너리의 모든 키를 반환
- values(): 딕셔너리의 모든 값을 반환
- items: 딕셔너리의 모든 키 - 값 쌍을 튜플의 리스트로 반환
- gets(): 특정 키에 대한 값을 반환, 키가 없으면 기본값을 반환

In [ ]:
1. key 값들만 추출

In [ ]:
- for문을 사용하여 딕셔너리의 키를 출력할 수 있음

In [25]:
nations = {'Korea': '한국', 'Japan': '일본', 'China': '중국'}
for i in nations:
    print(i)

Korea
Japan
China

In [27]:
nations = {'Korea': '한국', 'Japan': '일본', 'China': '중국'}
for i in nations.keys():
    print(i)

Korea
Japan
China

In [ ]:
2. value들만 추출

In [28]:
nations = {'Korea': '한국', 'Japan': '일본', 'China': '중국'}
for i in nations.values():
    print(i)

한국
일본
중국

In [ ]:
3. items() | key와 value 동시 접근
- 키와 값을 순서대로 동시에 반환

In [29]:
nations = {'Korea': '한국', 'Japan': '일본', 'China': '중국'}
for key, value in nations.items():
    print(f"키: {key}, 밸류: {value}")

키: Korea, 밸류: 한국
키: Japan, 밸류: 일본
키: China, 밸류: 중국

In [ ]:
4. get() | 특정 키에 대한 값을 반환
- 특정 키의 값을 가져옴
- 키가 없으면 기본값을 반환

In [ ]:
[작성법]
- 딕셔너리명.get(key, 기본값)
- 딕셔너리명.get(key) -> 기본 반환값은 None

In [32]:
student = {
    'name': 'Jone', 
    'age': 22, 
    'major': 'computer science'
}
# 키가 존재하는 경우
name = student.get('name')
print(name)
# 키가 존재하지 않는 경우 -> none반환
graduation_year = student.get('id')
print(graduation_year)
# 키가 존재하지 않는 경우, 기본값 사용
n = student.get('id', 'Not specified')
print(n)

Jone
None
Not specified

## 03 | 집합(set)

In [ ]:
- 중복을 허용하지 않고, 순서가 없는 자료 구조
- 원소의 존재 여부 확인, 중복 제거에 매우 유용
- 리스트나 튜플처럼 인덱싱 불가

### 01) 집합 생성하기

In [ ]:
1. 빈 집합 생성하기

In [33]:
d = {}
print(type(d))

<class 'dict'>

In [34]:
set1 = set()
print(set1)
print(type(set1))

set()
<class 'set'>

In [ ]:
2. 요소가 있는 집합 생성

In [36]:
fruits = {'파인애플', '오렌지', '포도', '딸기', '체리'}
print(fruits)
# 순서가 없기 때문에 순서가 뒤섞여서 출력됨

{'포도', '오렌지', '딸기', '파인애플', '체리'}

### 02) 집합의 특징

In [ ]:
- 항목의 중복이 불가능

In [37]:
fruits = {'포도', '딸기', '포도'}
print(fruits)

{'포도', '딸기'}

### 03) 자료형 변환

In [ ]:
1. 리스트 -> 집합

In [38]:
s1 = set([1, 2, 3])
print(s1)

{1, 2, 3}

In [ ]:
2. 문자열 -> 집합

In [42]:
s2 = set('hello')
print(s2)
print(type(s2))
# 기억할 점: 중복 값은 사라짐

{'l', 'o', 'e', 'h'}
<class 'set'>

### 04) 집합 원소 추가

In [ ]:
add: 원소 추가
[작성법]
세트명.add('추가할 원소명')

In [43]:
fruits = {'포도', '딸기', '포도'}
fruits.add('수박')
print(fruits)

{'포도', '딸기', '수박'}

### 05) 집합 원소 제거

In [ ]:
1. remove(): 실제로 내용 삭제를 하기 위한
[작성법]
세트명.remove('제거할 원소명')

In [ ]:
2. discard(): 존재하지 않아도 에러가 발생하지 않음, 존재하지 않음을 보장하기 위해 사용
[작성법]
세트명.discard('제거할 원소명')

In [44]:
fruits = {'포도', '딸기', '수박'}
fruits.remove('포도')
print(fruits)
fruits.discard('수박')
print(fruits)

{'딸기', '수박'}
{'딸기'}

In [45]:
fruits.remove('참외')

KeyError: '참외'

In [46]:
fruits.discard('참외')

In [ ]:
3. remove와 discard의 차이점
- 에러 발생 유무
- remove는 삭제할 대상이 없으면 에러 발생
- discard는 에러가 발생하지 않음

In [ ]:
4. 각각의 사용 이유
- remove()
-> 원소가 반드시 집합 안에 있어야 하고, 없으면 오류로 알려주길 원할 때 사용
-> 데이터 무결성(정확성)이 중요한 상황에 사용

- discard()
-> 원소가 집합 안에 있을 수도, 없을 수도 있을 때 안전하게 삭제하고 싶을 때 사용
-> 불필요한 오류를 피하면서 코드 단순화 가능

### 05) 집합연산

In [ ]:
- 교집합: A에도 속하고 B에도 속하는 원소들을 골라 놓은 집합
- 합집합: A에 속하거나 B에 속하는 원소들로 이루어진 집합
- 차집합: 한 집합에서 다른 집합 요소를 뺀 새로운 집합을 생성하는 집합연산
         A - B
         B - A

In [49]:
setA = {10, 20, 30, 40, 50, 60}
setB = {50, 60, 70, 80, 90, 100}
# 교집합
print(setA & setB)

{50, 60}

In [50]:
# 합집합
print(setA | setB)

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

In [51]:
# 차집합
print(setA - setB)
print(setB - setA)

{40, 10, 20, 30}
{80, 90, 100, 70}

### 06) 집합연산 메서드

In [ ]:
- intersection() | 교집합

In [52]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
set3 = set1.intersection(set2)
print(set3)

{3, 4, 5}

In [ ]:
- union() | 합집합

In [53]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
- difference() | 차집합

In [54]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
set3 = set1.difference(set2)
print(set3)

{1, 2}

#### 문제 01 | 리스트 중복 제거

In [ ]:
lst = [1, 2, 3, 4, 5, 5]

In [ ]:
[출력결과]
[1, 2, 3, 4, 5]

In [73]:
lst = [1, 2, 3, 4, 5, 5]
lst = list(set([1, 2, 3, 4, 5, 5]))
print(lst)

[1, 2, 3, 4, 5]

#### 문제 02 | 튜플 인덱싱과 슬라이싱

In [ ]:
numbers = (10, 20, 30, 40, 50)
1) 첫 번째 원소를 출력하세요. -> # 10
2) 마지막 원소를 출력하세요. -> # 50
3) (20, 30, 40)만 출력하세요. -> (20, 30, 40)

In [60]:
numbers = (10, 20, 30, 40, 50)
print('첫 번째 원소를 출력하세요. ->', numbers[0])
print('마지막 원소를 출력하세요. ->', numbers[-1])
print('(20, 30, 40)만 출력하세요. ->', numbers[1:4])

첫 번째 원소를 출력하세요. -> 10
마지막 원소를 출력하세요. -> 50
(20, 30, 40)만 출력하세요. -> (20, 30, 40)

#### 문제 03 | 딕셔너리

In [ ]:
- 학생 이름과 정수가 들어있는 딕셔너리가 있다.
scored = {'Alice': 85, 'Bob': 92, 'Charlie': 78}
1) 'Bob'의 점수를 출력하세요
2) 'David': 90 을 새로 추가하세요
3) 모든 키와 값을 각각 출력하세요

In [ ]:
[출력결과]
92
{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 90}
키: Alice, 밸류: 85
키: Bob, 밸류: 92
키: Charlie, 밸류: 78
키: David, 밸류: 90

In [75]:
scored = {'Alice': 85, 'Bob': 92, 'Charlie': 78}
# 1
print(scored['Bob'])
# 2
scored['David'] = 90
print(scored)
# 3
for key, value in scored.items():
    print(f"키: {key}, 밸류: {value}")

92
{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 90}
키: Alice, 밸류: 85
키: Bob, 밸류: 92
키: Charlie, 밸류: 78
키: David, 밸류: 90

#### 과제 01 | 각 학생들의 성적이 주어졌을 때 평균 계산

In [ ]:
scored = {'Alice': [85, 90, 92], 
          'Bob': [78, 81, 75], 
          'Charlie': [92, 95, 77]
 }

In [ ]:
[출력결과]
Alice의 점수들은 [85, 90, 92]입니다.
Bob의 점수들은 [78, 81, 75]입니다.
Charlie의 점수들은 [92, 95, 77]입니다.

{'Alice': 89.0, 'Bob': 85.17, 'Charlie': 86.11}

In [2]:
scored = {'Alice': [85, 90, 92], 
          'Bob': [78, 81, 75], 
          'Charlie': [92, 95, 77]
 }
for key, value in scored.items():
    print(f"{key}의 점수들은 {value}입니다.")

avg = {}
for student, scores in scored.items():
    total = 0
    count = 0
    for i in scores:
        total += i
        count += 1
        score = total / count
    avg[student] = round(score, 3)
print(avg)

Alice의 점수들은 [85, 90, 92]입니다.
Bob의 점수들은 [78, 81, 75]입니다.
Charlie의 점수들은 [92, 95, 77]입니다.
{'Alice': 89.0, 'Bob': 78.0, 'Charlie': 88.0}

In [3]:
sum([85, 90, 92])

267

In [4]:
len([85, 90, 92])

3

In [5]:
scored = {'Alice': [85, 90, 92], 
          'Bob': [78, 81, 75], 
          'Charlie': [92, 95, 77]
 }
for key, value in scored.items():
    print(f"{key}의 점수들은 {value}입니다.")

avg = {}
for student, scores in scored.items():
    
    avg[student] = round(sum(scores)/len(scores), 3)
print(avg)

Alice의 점수들은 [85, 90, 92]입니다.
Bob의 점수들은 [78, 81, 75]입니다.
Charlie의 점수들은 [92, 95, 77]입니다.
{'Alice': 89.0, 'Bob': 78.0, 'Charlie': 88.0}

In [ ]:
round() | 반올림 하는 함수
[작성법]
변수명 = round(number, digits)
number -> 반올림 할 숫자
digits -> 반올림 할 소숫점 자릿수, 생략하면 정수로 반올림해줌
round(number, 2) -> number을 소숫점 두 자리까지 반올림 해

In [79]:
result = round(89.3333, 3)
print(result)

89.333